.chatgpt-history__item-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.8em;
  color: #ffffff;
  padding-left: 20px;
  background: #343541;
  min-height: 100px;
  padding-bottom: 30px;
}

.chatgpt-history__item-content__name{
    margin-top: 10px;
    font-size: 0.8em;
    color: #c0bcbc;
    font-weight: 600;
}

.chatgpt-history__item-content__message{
  margin-top: 5px;
  font-size: 0.9rem;
  font-weight: 300;
}